[Unit]
Description=Knapsack
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker run --tmpfs=1 --name knapsack -h knapsack --add-host database:172.17.0.1 knapsack
ExecStop=/usr/bin/docker stop -t 2 knapsack

[Install]
WantedBy=default.target