[Unit]
Description=knapsack app
After=network.target

[Service]
PIDFile=/run/knapsack/pid
User=knapsack
Group=knapsack
WorkingDirectory=/site/knapsack
ExecStart=/site/venv/bin/gunicorn --pid /run/knapsack/pid  --preload --paste production.ini
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true
PassEnvironment=LOCKBOX_SECRET

[Install]
WantedBy=multi-user.target